body {
    display: flex;
    flex-direction: column;
}

.background-one {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-section,
.hero-section,
.footer-section {
    background-color: #1f2937;
    display: flex;
    width: 900px;
}

.header-section {
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #e5e7eb;
    font-size: 24px;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: #e5e7eb;

    
}

.hero-section {
    display: flex;
    padding-bottom: 60px;    
    padding-top: 60px;
    gap: 20px;
}

.hero-left {
    flex: 1;
}

.hero-title {
    color: #f9faf8;
    font-size: 48px;
    margin: 0;
}

.hero-text {
    color: #e5e7eb;
    font-size: 18px;
    margin: 6px;
}

.signup-button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 4px 24px;
    border-radius: 8px;
    border: 0px;
}

.hero-right {
    color: white;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    flex: 1;
}

.information-section {
    width: 900px;
}

.information-title {
    text-align: center;
}

.information-images-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.information-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 160px;
}

.image-placeholder {
    width: 100px;
    height: 100px;
    border: #3882f6 solid 2px;
    border-radius: 5%;
}